apiVersion: apps/v1
kind: Deployment
metadata:
  name: client-deployment
  namespace: yourdukaan
spec:
  replicas: 2
  selector:
    matchLabels:
      app: client
  template:
    metadata:
      labels:
        app: client
    spec:
      containers:
      - name: client
        image: guptaritik2712/yourdukaan-client:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 80
        env:
        - name: VITE_SERVER_URL
          valueFrom:
            configMapKeyRef:
              name: client-config
              key: VITE_SERVER_URL
---
apiVersion: v1
kind: Service
metadata:
  name: client-service
  namespace: yourdukaan
spec:
  selector:
    app: client
  ports:
  - port: 80
    targetPort: 80
    nodePort: 30080
  type: NodePort