apiVersion: apps/v1
kind: Deployment
metadata:
  name: server-deployment
  namespace: yourdukaan
spec:
  replicas: 2
  selector:
    matchLabels:
      app: server
  template:
    metadata:
      labels:
        app: server
    spec:
      containers:
      - name: server
        image: guptaritik2712/yourdukaan-server:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 5000
        env:
        - name: DATABASE_URL
          valueFrom:
            secretKeyRef:
              name: app-secret
              key: DATABASE_URL
        - name: JWT_SECRET
          valueFrom:
            secretKeyRef:
              name: app-secret
              key: JWT_SECRET
---
apiVersion: v1
kind: Service
metadata:
  name: server-service
  namespace: yourdukaan
spec:
  selector:
    app: server
  ports:
  - port: 5000
    targetPort: 5000
    nodePort: 30500
  type: NodePort