apiVersion: apps/v1
kind: Deployment
metadata:
  name: server-deployment
  namespace: yourdukaan
spec:
  replicas: 1
  selector:
    matchLabels:
      app: server
  template:
    metadata:
      labels:
        app: server
    spec:
      containers:
      - name: server
        image: guptaritik2712/yourdukaan-server:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 5000
        env:
        - name: PORT
          value: "5000"
        - name: NODE_ENV
          value: "production"
        - name: CLIENT_PROD_URL
          value: "http://client-service"
        - name: DATABASE_URL
          valueFrom:
            secretKeyRef:
              name: app-secret
              key: DATABASE_URL
        - name: JWT_SECRET
          valueFrom:
            secretKeyRef:
              name: app-secret
              key: JWT_SECRET
        - name: REFRESH_TOKEN_SECRET
          valueFrom:
            secretKeyRef:
              name: app-secret
              key: REFRESH_TOKEN_SECRET
        - name: JWT_ACCESS_TOKEN_LENGTH
          valueFrom:
            secretKeyRef:
              name: app-secret
              key: JWT_ACCESS_TOKEN_LENGTH
        - name: JWT_REFRESH_TOKEN_LENGTH
          valueFrom:
            secretKeyRef:
              name: app-secret
              key: JWT_REFRESH_TOKEN_LENGTH
---
apiVersion: v1
kind: Service
metadata:
  name: server-service
  namespace: yourdukaan
spec:
  selector:
    app: server
  ports:
  - port: 5000
    targetPort: 5000
    nodePort: 30500
  type: NodePort